{% extends 'base.html.twig' %}

{% block title %}{{ 'fonction_title_form_page'|trans }}{% endblock %}

{% block body %}
<h1 class="fontUbuntuItalic orange-skb text-center p-1">{{ 'fonction_title_form_page'|trans }}</h1>
<form-fonction token="{{ csrf_token('fonction') }}"></form-fonction>
{% endblock %}
